*.vscode
*.egg
*.egg-info
*.log
*.pot
*.pyo
*.pyc
__pycache__/
build/
dist/
local_settings.py
migrations/
.tox
.nox
.coverage
.cache
nosetests.xml
coverage.xml
*.egg-info/PKG-INFO
*.egg-info/SOURCES.txt
*.egg-info/dependency_links.txt
*.egg-info/not-zip-safe
*.egg-info/top_level.txt
*.mo
*.po
.DS_Store
.env
.env.example
.env.test
.env.prod
.env.local
.env.development.local
.env.production.local
.env.test.local
.env.local
